In [1]:
import pandas as pd
import numpy as np
import googlemaps
print("Setup Complete")

Setup Complete

In [8]:
path = "./mrt-locations-cleaned.csv"
df = pd.read_csv(path)

# gmaps = googlemaps.Client(key='INSERT_API_KEY_HERE')

# for i in range(len(df)):
#     res = gmaps.geocode(df.iat[i,0] + " Singapore")
#     try:
#         lat = res[0]['geometry']['location']['lat']
#         lon = res[0]['geometry']['location']['lng']
#         print(lat, lon)
#         df.iat[i, df.columns.get_loc('Lat')] = lat
#         df.iat[i, df.columns.get_loc('Lon')] = lon
#     except Exception as e:
#         print(e)

# df.to_csv('./mrt-location-cleaned.csv')

,Unnamed: 0,planning_area,station_name,station_code,year_of_opening,address,lat,lon
0,0,Ang Mo Kio,Yio Chu Kang,NS15,1987,3000 Ang Mo Kio Avenue 8,1.369115,103.845434
1,1,Ang Mo Kio,Ang Mo Kio,NS16,1987,2450 Ang Mo Kio Avenue 8,1.369115,103.845434
2,2,Ang Mo Kio,Ang Mo Kio,CR11,2029,NaN,NaN,NaN
3,3,Bedok,Tanah Merah,EW4,1989,920 New Upper Changi Road,1.323604,103.927340
4,4,Bedok,Bedok,EW5,1989,315 New Upper Changi Road,1.323604,103.927340
...,...,...,...,...,...,...,...,...
188,188,Woodlands,Woodlands North,TE1,2020,20 Woodlands North Coast Road,1.438192,103.788960
189,189,Woodlands,Woodlands North,RTS,2026,20 Woodlands North Coast Road,1.438192,103.788960
190,190,Woodlands,Woodlands South,TE3,2020,30 Woodlands Drive 17,1.438192,103.788960
191,191,Yishun,Yishun,NS13,1988,301 Yishun Avenue 2,1.430368,103.835363
192,192,Yishun,Khatib,NS14,1988,201 Yishun Avenue 2,1.430368,103.835363